<html>
    <head>
        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript" src="js/vue-router.js"></script>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>

        <link rel="stylesheet" href="css/materialize.min.css" />

        <title>MJournal</title>
    </head>
    <body>
        <div id="app">
            <nav class="nav-extended">
                <div class="nav-content">
                    <ul class="tabs tabs-transparent">
                        <li class="tab"><router-link to="/">MJournal</router-link></li>
                    </ul>
                </div>
            </nav>
        </div>
        <script type="text/javascript" src="js/app.js" async="async"></script>
    </body>
</html>
