<html>
    <head>
        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript" src="js/vue-router.js"></script>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/underscore.js"></script>
        <script type="text/javascript" src="js/moment.js"></script>
        <script type="text/javascript" src="js/clndr.js"></script>

        <link rel="stylesheet" href="css/materialize.min.css" async="async" />
        <link rel="stylesheet" href="css/simplemde.min.css" async="async" />
        <link rel="stylesheet" href="css/fontawesome.min.css" async="async" />

        <link rel="stylesheet" href="css/app.css" async="async" />

        <title>MJournal</title>
    </head>
    <body>
        <div id="app">
            <nav class="nav-extended green">
                <div class="nav-content">
                    <ul class="tabs tabs-transparent">
                        <li class="tab"><router-link to="/">MJournal</router-link></li>
                    </ul>
                </div>
            </nav>
            <div id="content">
                <router-view></router-view>
            </div>
        </div>
        <script>
            const Home = {
                template: '{{ home_template|safe }}'
            }
            const Write = {
                template: '{{ write_template|safe }}',
                data: function() {
                    return strings;
                }
            }
            const Settings = {
                template: '{{ settings_template|safe }}'
            }
        </script>
        <script type="text/javascript" src="js/simplemde.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js" async="async"></script>
        <script type="text/javascript" src="js/app.js" async="async"></script>
    </body>
</html>
